<a href="https://colab.research.google.com/github/rishuraj27/Coursera_Capstone/blob/master/random_forest_employee_attrition_rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error as MSE
from sklearn.model_selection import train_test_split

In [ ]:
#os.chdir(r"C:\Users\Rishu Raj\Desktop\HE\Dataset")

In [4]:
train_df = pd.read_csv("/content/Train.csv")

In [5]:
train_df.head()

  Employee_ID Gender   Age  Education_Level  ... VAR5 VAR6 VAR7 Attrition_rate
0   EID_23371      F  42.0                4  ...    4    5    3         0.1841
1   EID_18000      M  24.0                3  ...    3    5    3         0.0670
2    EID_3891      F  58.0                3  ...    3    8    3         0.0851
3   EID_17492      F  26.0                3  ...    3    7    3         0.0668
4   EID_22534      F  31.0                1  ...    2    8    2         0.1827

[5 rows x 24 columns]

In [27]:
numerical= ['Age',  'Time_of_service', 'Time_since_promotion', 'growth_rate',  
        'VAR1', 'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6','VAR7'] 
dep = ['Attrition_rate']
integer =['Time_since_promotion', 'growth_rate','VAR1', 'VAR5', 'VAR6','VAR7']
categorical = ['Employee_ID', 'Gender','Education_Level','Relationship_Status', 
              'Hometown','Unit', 'Decision_skill_possess','Travel_Rate',
       'Post_Level', 'Pay_Scale','Work_Life_balance','Compensation_and_Benefits']

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                7000 non-null   object
 1   Gender                     7000 non-null   object
 2   Age                        6588 non-null   float64
 3   Education_Level            7000 non-null   int64
 4   Relationship_Status        7000 non-null   object
 5   Hometown                   7000 non-null   object
 6   Unit                       7000 non-null   object
 7   Decision_skill_possess     7000 non-null   object
 8   Time_of_service            6856 non-null   float64
 9   Time_since_promotion       7000 non-null   int64
 10  growth_rate                7000 non-null   int64
 11  Travel_Rate                7000 non-null   int64
 12  Post_Level                 7000 non-null   int64
 13  Pay_Scale                  6991 non-null   float64
 14  Compensation_and_Benefits  7000 non-null   object
 15  Work_Life_balance          6989 non-null   float64
 16  VAR1                       7000 non-null   int64
 17  VAR2                       6423 non-null   float64
 18  VAR3                       7000 non-null   float64
 19  VAR4                       6344 non-null   float64
 20  VAR5                       7000 non-null   int64
 21  VAR6                       7000 non-null   int64
 22  VAR7                       7000 non-null   int64
 23  Attrition_rate             7000 non-null   float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [ ]:
data.describe()

               Age  Education_Level  ...         VAR7  Attrition_rate
count  6588.000000      7000.000000  ...  7000.000000     7000.000000
mean     39.622799         3.187857  ...     3.257000        0.189376
std      13.606920         1.065102  ...     0.925319        0.185753
min      19.000000         1.000000  ...     1.000000        0.000000
25%      27.000000         3.000000  ...     3.000000        0.070400
50%      37.000000         3.000000  ...     3.000000        0.142650
75%      52.000000         4.000000  ...     4.000000        0.235000
max      65.000000         5.000000  ...     5.000000        0.995900

[8 rows x 17 columns]

## Missing treatment

In [ ]:
# column_types =dict(data.dtypes)

In [ ]:
# numerical=[]
# categorical=[]
# integer=[]
# for key,value in column_types.items():
    
#     if str(value)[0:3] in ['flo', 'int']:
#         numerical.append(key)
#         if str(value)[:3] in ['int']:
#             integer.append(key)
#     else:
#         categorical.append(key)

In [ ]:
data[numerical].isnull().sum()

Age                     412
Time_of_service         144
Time_since_promotion      0
growth_rate               0
VAR1                      0
VAR2                    577
VAR3                      0
VAR4                    656
VAR5                      0
VAR6                      0
VAR7                      0
dtype: int64

In [ ]:
data[categorical].isnull().sum()

Employee_ID                   0
Gender                        0
Education_Level               0
Relationship_Status           0
Hometown                      0
Unit                          0
Decision_skill_possess        0
Travel_Rate                   0
Post_Level                    0
Pay_Scale                     9
Work_Life_balance            11
Compensation_and_Benefits     0
dtype: int64

In [8]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5,weights='distance')
train_df[numerical] = pd.DataFrame(imputer.fit_transform(train_df[numerical]),columns=numerical)

In [10]:
for var in integer:
    train_df[var] = np.round(train_df[var])

## EDA

In [ ]:
for var in categorical:
    print(data[var].value_counts())

EID_21668    1
EID_13854    1
EID_21302    1
EID_11030    1
EID_11587    1
            ..
EID_12016    1
EID_22130    1
EID_1657     1
EID_15494    1
EID_1621     1
Name: Employee_ID, Length: 7000, dtype: int64
F    4114
M    2886
Name: Gender, dtype: int64
Married    4520
Single     2480
Name: Relationship_Status, dtype: int64
Lebanon        2070
Springfield    1736
Franklin       1523
Washington     1106
Clinton         565
Name: Hometown, dtype: int64
IT                           1394
Logistics                    1173
Sales                         943
Operarions                    706
R&D                           680
Purchasing                    504
Accounting and Finance        496
Human Resource Management     344
Marketing                     212
Production                    211
Quality                       193
Security                      144
Name: Unit, dtype: int64
Conceptual    1756
Analytical    1755
Directive     1753
Behavioral    1736
Name: Decision_skill_possess, dtype: int64
type2    3945
type3    2382
type4     353
type0     187
type1     133
Name: Compensation_and_Benefits, dtype: int64

In [ ]:
data.isnull().sum()

Employee_ID                   0
Gender                        0
Age                           0
Education_Level               0
Relationship_Status           0
Hometown                      0
Unit                          0
Decision_skill_possess        0
Time_of_service               0
Time_since_promotion          0
growth_rate                   0
Travel_Rate                   0
Post_Level                    0
Pay_Scale                     9
Compensation_and_Benefits     0
Work_Life_balance            11
VAR1                          0
VAR2                          0
VAR3                          0
VAR4                          0
VAR5                          0
VAR6                          0
VAR7                          0
Attrition_rate                0
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
train_df[categorical]= imp.fit_transform(train_df[categorical])

In [13]:
train_df.isnull().sum()

Employee_ID                  0
Gender                       0
Age                          0
Education_Level              0
Relationship_Status          0
Hometown                     0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
growth_rate                  0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR1                         0
VAR2                         0
VAR3                         0
VAR4                         0
VAR5                         0
VAR6                         0
VAR7                         0
Attrition_rate               0
dtype: int64

## Encoding categorical variable

In [28]:
categorical.remove("Employee_ID")
train_df= pd.get_dummies(train_df,columns= categorical)

In [29]:
train_df.shape

(7000, 71)

## Preprocessing

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[numerical] = scaler.fit_transform(df[numerical])

In [ ]:
df[numerical].describe()

                Age  Time_of_service  ...          VAR6          VAR7
count  7.000000e+03     7.000000e+03  ...  7.000000e+03  7.000000e+03
mean  -1.031873e-16     2.954779e-17  ...  3.411240e-16  2.821077e-16
std    1.000071e+00     1.000071e+00  ...  1.000071e+00  1.000071e+00
min   -1.530392e+00    -1.299687e+00  ... -1.804951e+00 -2.439332e+00
25%   -9.076208e-01    -8.143358e-01  ... -9.459763e-01 -2.777617e-01
50%   -1.913994e-01    -3.289847e-01  ... -8.700184e-02 -2.777617e-01
75%    9.244278e-01     7.387877e-01  ...  7.719726e-01  8.030233e-01
max    1.891478e+00     2.874332e+00  ...  1.630947e+00  1.883808e+00

[8 rows x 11 columns]

## dependent and independent variable

In [30]:
emp_id=train_df[["Employee_ID"]]
X=train_df.drop(["Employee_ID","Attrition_rate"],axis=1)
y=train_df[["Attrition_rate"]]

In [36]:
from sklearn.model_selection import cross_val_score
dt = DecisionTreeRegressor(max_depth=7,min_samples_leaf=0.10,random_state=3)

In [37]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=3)

In [38]:
dt.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=7,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=0.1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=3, splitter='best')

In [39]:
y_pred= dt.predict(X_test)

In [40]:
mse_dt=MSE(y_test,y_pred)

In [41]:
rmse_dt = np.sqrt(mse_dt)
rmse_dt

0.17785528021571184

In [42]:
test_df = pd.read_csv("/content/Test.csv")

In [43]:
test_df.columns

Index(['Employee_ID', 'Gender', 'Age', 'Education_Level',
       'Relationship_Status', 'Hometown', 'Unit', 'Decision_skill_possess',
       'Time_of_service', 'Time_since_promotion', 'growth_rate', 'Travel_Rate',
       'Post_Level', 'Pay_Scale', 'Compensation_and_Benefits',
       'Work_Life_balance', 'VAR1', 'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6',
       'VAR7'],
      dtype='object')

In [44]:
test_df.isnull().sum()

Employee_ID                    0
Gender                         0
Age                          161
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service               52
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      3
Compensation_and_Benefits      0
Work_Life_balance              5
VAR1                           0
VAR2                         217
VAR3                           0
VAR4                         298
VAR5                           0
VAR6                           0
VAR7                           0
dtype: int64

In [45]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5,weights='distance')
test_df[numerical] = pd.DataFrame(imputer.fit_transform(test_df[numerical]),columns=numerical)

In [47]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
test_df[categorical]= imp.fit_transform(test_df[categorical])

In [48]:
test_df= pd.get_dummies(test_df,columns= categorical)

In [49]:
test_df.isnull().sum()

Employee_ID                        0
Age                                0
Time_of_service                    0
Time_since_promotion               0
growth_rate                        0
                                  ..
Compensation_and_Benefits_type0    0
Compensation_and_Benefits_type1    0
Compensation_and_Benefits_type2    0
Compensation_and_Benefits_type3    0
Compensation_and_Benefits_type4    0
Length: 70, dtype: int64

In [55]:
test_df_final = test_df.drop("Employee_ID",axis =1)
y_test_pred = dt.predict(test_df_final)

In [56]:
y_test_pred

array([0.20021909, 0.21329069, 0.21329069, ..., 0.17305876, 0.16835482,
       0.17305876])

In [57]:
sample= pd.read_csv("sample_submission.csv")

In [58]:
sample.head()

  Employee_ID  Attrition_rate
0       TID_1          0.1588
1       TID_2          0.1424
2       TID_3          0.4758
3       TID_4          0.0846
4       TID_5          0.2388

In [66]:
dd = {"Employee_ID":test_df["Employee_ID"], "Attrition_rate":y_test_pred}
result = pd.DataFrame(dd,header =True)

TypeError: ignored

In [63]:
result.head()

  Employee_ID  Attrition_rate
0   EID_22713        0.200219
1    EID_9658        0.213291
2   EID_22203        0.213291
3    EID_7652        0.213291
4    EID_6516        0.183511

In [64]:
result.to_csv("/content/result.csv")

In [65]:
score = 100* max(0, 1-rmse_dt )
score

82.21447197842882